<div style="margin-top:30px" ng-controller="ViewAllSubCategoryController">
    <div class="row">
        <h2 style="text-align:center">All sub categories</h2>
        <hr />
    </div>
    <div class="row">
        <md-card class="data-table" style="margin-top:20px">
            <input type="text" ng-model="filter.search" class="form-control" placeholder="Search parent categories here..."/>
        </md-card>

        <md-card class="data_table">

            <md-table-container class="data-table-layout">
                <table md-table md-row-select="options.rowSelection" ng-model="selected" md-progress="promise" class="custom-data-table">
                    <thead md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column md-order-by="applicant_id">Sub cat ID</th>
                        <th md-column md-order-by="app_name">Parent cat ID</th>
                        <th md-column md-order-by="app_name">Sub cat Name</th>
                        <th md-column md-order-by="app_name_with_initials">Sub cat icon</th>
                        <th md-column md-order-by="app_NIC">Actions</th>

                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="p_cat" md-on-select="logItem" md-auto-select="options.autoSelect"
                        ng-repeat="p_cat in sub_categories | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell>{{p_cat.category_id}}</td>
                        <td md-cell>{{p_cat.parent_category_id}}</td>
                        <td md-cell>{{p_cat.category_name}}</td>
                        <td md-cell><img src="{{p_cat.icon}}" /></td>
                        <td md-cell><button>Edit</button> | <button ng-click="deleteSubCategory(p_cat.category_id)" style="color=white; background-color:red">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{count}}"
                                 md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks"
                                 md-limit-options="[5, 10, 15]"
                                 md-on-paginate="logPagination"></md-table-pagination>

        </md-card>
    </div>
</div>